*{
    margin: 0;
}
header{
    background-color: #fcd2ee;
    justify-content: center;
}
body{
    background-color: #fd9abf;
}
#containerHeader{
    display: flex;
}
#logo{
    width: 180px;
    border-radius:20px 20px;
    align-items: center;
}
.container{
    background-color: #ffedff;
    border-radius: 8px;
    padding: 10px;
    margin: 30px;
    width: 240px;
    height: 350px;
    display: flex;
    flex-direction: row;
    gap: 9px;
    transition: 0.5s;
}
.container:hover{
    width: 600px;
}
@media screen and (max-width: 1000px) {
    .container:hover{
        width: 200%;
    }
    .container{
        width: 110%;
    }
    .produtos{
        margin-left: -100px;
        display: flex;
        justify-content: start;
    }
}
@media screen and (max-width: 460px){
    .container:hover{
        width: 130%;
    }
    .container{
        width: 130%;
        
    }
    .produtos{
        width: 100%;
        margin-left: -86px;
        justify-content: start;
    }
    .especificacoes{
        width: 400px;
        height: 340px;
    }
}
.tenis{
    position: relative;
    width: 240px;
    border-radius: 8px;
    float: left;
}
.especificacoes{
    position: relative;
    width: 400px;
    height: 340px;
    left: 20px;
    overflow: hidden;
}

.produtos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nomes{
    color:#d4026e
}
#primeiraFileira{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
}
#segundaFileira{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
}

#terceirafileira{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;

}

#botoes{
    border: 3px dashed #c473fa;
    background-color: #3a0447;
    color:  #ffedff ;
}
footer{
    height: 100px;
    background-color: #ac3b64;
}