*{
    margin: 0;
}
header{
    background-color: #ac3b64;
}
body{
    background-color: #fd9abf;
}
#containerHeader{
    display: flex;
}
#logo{
    width: 180px;
    border-radius: 0 20px 20px 0;
}
.container{
    background-color: #ffedff;
    border-radius: 8px;
    padding: 10px;
    margin: 30px;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: row;
    gap: 9px;
    transition: 0.5s;
}
.container:hover{
    width: 30%;
}
@media(max-width:500px){
    .container{
        width: 100%;
    }
}
.tenis{
    position: relative;
    width: 250px;
    border-radius: 8px;
    float: left;
}
.especificacoes{
    position: relative;
    width: 400px;
    height: 400px;
    left: 20px;
    overflow: hidden;
}

.produtos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#primeiraFileira{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
#segundaFileira{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer{
    background-color: #ac3b64;
}